<div class="container-fluid w-75 d-flex flex-column">
    <div class="border-bottom border-dark border-2 rounded-2 mt-2 mx-2 pb-2">
        <p>NOTE: In order to demonstrate the difference between the keyboard controls in the original Zenva tutorial code and the dev's updated code, mobile touch controls have not been enabled, as the original tutorial did not include mobile controls.</p>
        <p class="lead">
            How to Play: Original Zenva Tutorial Code
        </p>
        Arrow Keys to Navigate Map, Spacebar to Shoot. NOTE: Firing direction is paired to direction of player movement. Bullet will fire in the direction that the player was last moving (the direction of the last arrow key that was pressed). To change bullet firing direction, you will first need to move in that direction by tapping the arrow key for that direction.
    </div>
    <div class="border-top border-dark border-2 rounded-2 mb-2 mx-2">
        <p class="lead">
            How to Play: Revised Code
        </p>
        Arrow Keys to Navigate Map, WASD Keys to Shoot. That's it! Firing direction has been uncoupled from player travel direction, allowing firing in any direction regardless of player movement.
    </div>
</div>