<%- include('partials/header'); %>
<div class="indexpage d-flex align-items-center justify-content-around">
  <div class="index container-fluid d-flex flex-column flex-sm-row align-items-center border border-light border-3 rounded-3 w-75 m-5">
    <div class="w-50 my-auto mx-auto">
      <img class="img-fluid" src="../../assets/ui/title2.png" alt="Forest Adventure!">
    </div>
    <div class="w-50 my-auto mx-auto" role="group" aria-label="game version choices">
      <a class="btn btn-dark bg-gradient border border-light border-3 rounded-3 my-2" href="/new" role="button">Revised Code: WASD Keys for Shooting</a>
      <a class="btn btn-dark bg-gradient border border-light border-3 rounded-3 my-2" href="/zenva" role="button">Original Zenva Code: Spacebar Controls for Shooting</a>
    </div>
  </div>
</div>
<%- include('partials/footer'); %>

<!-- grid version -->
<!-- <div class="indexpage d-flex align-items-center">
  <div class="container-fluid d-flex align-items-center border border-light border-3 rounded-3 vw-75 m-5">
    <div class="row">
      <div class="col-12 col-lg-6 my-auto mx-auto">
        <img class="img-fluid vw-50 my-auto mx-auto" src="../../assets/ui/title2.png" alt="Forest Adventure!">
      </div>
      <div class="col-12 col-lg-6 my-auto" role="group" aria-label="game version choices">
        <a class="btn btn-dark bg-gradient border border-light border-3 rounded-3 my-2" href="/new" role="button">Revised Code: WASD Keys for Shooting</a>
        <a class="btn btn-dark bg-gradient border border-light border-3 rounded-3 my-2" href="/zenva" role="button">Original Zenva Code: Spacebar Controls for Shooting</a>
      </div>
    </div>
  </div>
</div> -->