<%- include('partials/header'); %>
<div class="gamepage container-fluid">
    <%- include('partials/instructions'); %>
    <div id="phaser-container"></div>
</div>
<script src="//cdn.jsdelivr.net/npm/phaser@3.54.0/dist/phaser.min.js"></script> 
<script type="module" src="/scripts/index.js"></script>
<%- include('partials/footer'); %>